/* ======== HEADER PRINCIPAL ======== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: #ff0000;
  color: white;
}

/* Logo + título */
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo img {
  height: 65px;
}

.header__title {
  font-size: 18px;
  font-weight: bold;
}

.header__nav p {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 500;
}

.header__nav p i {
  font-size: 18px;
}

.header__nav p {
  transition: color 0.3s, transform 0.3s;
}

.header__nav p:hover {
  color: #272E61;
}


/* ======== NAV DESKTOP ======== */

.header__nav {
  display: flex;
  gap: 35px;
}

.header__nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: opacity 0.2s;
}

.header__nav a:hover {
  opacity: 0.7;
}

.header__nav a.active {
  border-bottom: 2px solid #ffcc00;
  padding-bottom: 4px;
}


@media(min-width:769px) and (max-width: 1024px) {
  header {
    text-align: center;
  }

  header .logo,
  .header__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .header__nav p {
    display: flex;      /* mantiene iconos */
    align-items: center;
    gap: 0;             /* quitar espacio con texto */
  }

  .header__nav p span {
    display: none;      /* oculta el texto */
  }
  .header__nav i {
    display: inline-block;
    /* mantiene los iconos visibles */
  }

  .header__nav {
    flex-direction: row;
    /* iconos en fila */
    justify-content: center;
    /* centrados */
    gap: 15px;
    /* separación entre iconos */
  }
}

@media (max-width: 768px) {

  header .logo,
  .header__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }


  .header__nav p {
    display: flex;      /* mantiene iconos */
    align-items: center;
    gap: 0;             /* quitar espacio con texto */
  }
  .header__nav p span {
    display: none;      /* oculta el texto */
  }
  .header__nav i {
    display: inline-block;
    /* iconos visibles */
  }

  .header__nav {
    flex-direction: row;
    /* iconos en fila */
    justify-content: center;
    /* centrados */
    gap: 15px;
  }
}