.actualidad {
  padding: 60px 20px;
  background-color: #F5F5F5;
  text-align: center;
  /* centra los elementos cuando hay varias filas */
}

.actualidad h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 50px;
  color: #00315C;
}

.actualidad .news-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.actualidad .news-card {
  background-color: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  max-width: 250px;
}

.actualidad .news-card:hover {
  transform: translateY(-15px);
  background-color: #00315C !important;
}

.actualidad .news-card:hover .news-content h3 {
  color: #FFFFFF !important;
}

.actualidad .news-card:hover img {
  filter: brightness(0.8);
}

.actualidad .news-card img {
  display: block;
  width: auto;
  height: auto;
  max-width: 250px;
  object-fit: contain;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.actualidad .news-content {
  padding: 15px;
}

.actualidad .news-content h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #00315C;
  margin: 0;
}

/* Ajuste para grilla en pantalla grande */
@media (min-width: 1024px) {
  .news-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}